
html, body {
    margin: 0px;
    padding: 0px;
}
header{
	display: flex; 
	justify-content: flex-start;
	align-items: center;
    background:#5d366d;
}
nav{
	display: flex; 
	justify-content: flex-end;
    background:#9962af;
}
#menuitem {
    color: white;
    padding: 15px;
    text-decoration: none;
}
#menuitem:hover {
    color: #d0abdf;
    padding: 15px;
    text-decoration: none;
}
#menuitem:active {
    color: #e6ccf0;
    background: #5d366d;
    padding: 15px;
    text-decoration: none;
}
img.logo{
    padding: 10px;
    padding-left: 25px;
    width: 100px;
    height: 100px;
}
h1.logo{
    font-family: 'Playfair Display SC';
    color: white;
    border-left: 2px solid #ccc; /* Параметры линии */ 
    margin-left: 20px; /* Отступ слева */
    padding-left: 10px; /* Расстояние от линии до текста */ 
}
