/*
  Убираем отступы внутри страницы. Чтоб не было полей по краям
*/
html, body {
  margin: 0px;
  padding: 0px;
}
/*
  Устанавливаем стиль шапки сайта и рассположение элементов её
*/
header{
box-shadow: inset 0 0 100px rgb(42, 2, 58);
display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
align-items: center;
  background:#5d366d;
}
/*
  Здесь у нас описана анимация банера. Постепенно сменяет одно изображение другим
*/
@keyframes abanner {
  0%, 6% {
    background-image: url('../img/banners/001.jpg');
  }
  9%, 18% {
    background-image: url('../img/banners/002.jpg');
  }
  21%, 30% {
    background-image: url('../img/banners/003.jpg');
  }
  33%, 42% {
    background-image: url('../img/banners/004.jpg');
  }
  45%, 54% {
    background-image: url('../img/banners/005.jpg');
  }
  57%, 66% {
    background-image: url('../img/banners/006.jpg');
  }
  69%, 78% {
    background-image: url('../img/banners/007.jpg');
  }
  81%, 90% {
    background-image: url('../img/banners/008.jpg');
  }
  94%, 100% {
    background-image: url('../img/banners/001.jpg');
  }
}
/*Описываем баннер*/
.banner{
  /*Градиент по краям*/
  -webkit-mask-image: -webkit-gradient(
      linear, left top, right top, 
      color-stop(0.00,  rgba(0,0,0,0)),
      color-stop(0.35,  rgba(0,0,0,0.5)),
      color-stop(0.50,  rgba(0,0,0,1)),
      color-stop(0.65,  rgba(0,0,0,0.5)),
      color-stop(1.00,  rgba(0,0,0,0)));
  /*Настройка анимации*/
  animation-name: abanner;
  animation-duration: 80s;
  transition-property: background;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  /*Параметры фона блока div*/
  flex: 1 0 auto;
  background-position:center center;
  background-size:cover;
  height: 200px;
}
/*Фон навигационного раздела*/
nav{
  display: flex; 
  justify-content: space-between; /*расспределяем по ширине*/
  background: rgb(62,0,78);
  /*Градиентная заливка раздела навигации*/
  background: linear-gradient(0deg, #5d366d 0%,#8a5b9c 100%); 
  width: 100%;
}
/*Настройка области логотипа*/
.logo
{
  display: flex; 
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
/*Свойства изображения в логотипе*/
.logo img{
  padding: 10px;
  padding-left: 25px;
  width: 100px;
  height: 100px;
}
/*Свойства текста в области логотипа*/
.logo h1{
  font-family: 'Playfair Display SC';
  color: white;
  border-left: 2px solid #ccc; /* Параметры линии */ 
  margin-left: 20px; /* Отступ слева */
  padding-left: 10px; /* Расстояние от линии до текста */ 
}
.menu{
  padding: 10px;
  padding-left: 5px;    
}
/*Описываем вид нактивного раздела, наведённого и выделенного*/
.itemcalm{ 
  color: white;
  padding: 10px;
  text-decoration: none;
}
.itemover{
  color: #d0abdf;
}
.itemselect{
  box-shadow: inset 0 0 5px rgb(57, 6, 80);
  color: #e6ccf0;
  background: #5d366d;
}
/*Описание стиля для формы поиска*/
.search * {box-sizing: border-box;}
.search form {
position: relative;
width: 300px;
margin: 0 auto;
}
.search input {
width: 100%;
height: 30px;
padding-left: 10px;
border: 2px solid rgb(179, 136, 207);
border-radius: 5px;
outline: none;
background: rgb(242, 223, 245);
color: rgb(63, 51, 66);
}
.search button {
position: absolute; 
top: 0;
right: 0px;
width: 30px;
height: 30px;
border: none;
background: rgb(179, 136, 207);
border-radius: 0 5px 5px 0;
cursor: pointer;
}
.search button:before {
content: "🔎";
font-size: 16px;
color: #F9F0DA;
}
/*Стиль подвала сайта*/
footer {
  color: white;
  background: #3c1b49;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 2.5rem;
}
footer td{
  padding-top:10px;
  padding-left:10px;
}
