/*Убираем отступы у страницы*/
html, body {
  margin: 0px;
  padding: 0px;
}
/*Задаём стиль для фона заголовка*/
header{
  box-shadow: inset 0 0 100px rgb(42, 2, 58);
  display: flex; /*Заголовок по ширине окна браузера*/
  justify-content: space-between; /*Располагаем элементы по ширине*/
  flex-wrap: wrap;
  width:100%;
  align-items: center;
  background:#5d366d; /*Цвет фона*/
  position: fixed;
  z-index: 9999;
}

#space{
  height:238px;
}

/*Записываем анимацию, задавая ключевые кадры*/
@keyframes abanner {
  0%, 6% {
    background-image: url('../img/banners/001.jpg');
  }
  9%, 18% {
    background-image: url('../img/banners/002.jpg');
  }
  21%, 30% {
    background-image: url('../img/banners/003.jpg');
  }
  33%, 42% {
    background-image: url('../img/banners/004.jpg');
  }
  45%, 54% {
    background-image: url('../img/banners/005.jpg');
  }
  57%, 66% {
    background-image: url('../img/banners/006.jpg');
  }
  69%, 78% {
    background-image: url('../img/banners/007.jpg');
  }
  81%, 90% {
    background-image: url('../img/banners/008.jpg');
  }
  94%, 100% {
    background-image: url('../img/banners/001.jpg');
  }
}
/*Свойства для банера*/
.banner{
  /*заливаем градиентом*/
  -webkit-mask-image: -webkit-gradient(
      linear, left top, right top,
      color-stop(0.00,  rgba(0,0,0,0)),
      color-stop(0.35,  rgba(0,0,0,0.5)),
      color-stop(0.50,  rgba(0,0,0,1)),
      color-stop(0.65,  rgba(0,0,0,0.5)),
      color-stop(1.00,  rgba(0,0,0,0)));
      animation-name: abanner;
      animation-duration: 80s;
      transition-property: background;
      animation-iteration-count: infinite; /*Анимация повторяется вечно*/
      animation-direction: normal;
      animation-timing-function: linear;
  flex: 1 0 auto;
  background-position:center center;
  background-size:cover;
  height: 200px;
  /*Изображение ставим в качестве фона, т.к это позволяет легко обрезать
  его по размеру элемента*/
}

/*Создаём навигационную панель*/
nav{
  display: flex;
  justify-content: space-between;
  background: rgb(62,0,78);
  /*Заливаем градиентом*/
  background: linear-gradient(0deg, #5d366d 0%,#8a5b9c 100%);
  box-shadow: 0em 0.4em 20px rgba(0, 0, 0, 0.5);
  width: 100%;
}
/*Определяем стиль для области с логотипом*/
.logo
{
  display: flex;
  /*Элементы будут располагаться слева направо*/
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
/*настраиваем изображение логотипа*/
.logo img{
  padding: 10px;
  padding-left: 25px;
  width: 100px;
  height: 100px;
}

/*Настраиваем заголовок логотипа*/
.logo h1{
  font-family: 'Playfair Display SC';
  color: white;
  border-left: 2px solid #ccc; /* Параметры линии */
  margin-left: 20px; /* Отступ слева */
  padding-left: 10px; /* Расстояние от линии до текста */
}
/*Задаём отстсупы для меню*/
.menu{
  padding: 10px;
  padding-left: 5px;
}
/*Три различных стиля пункта меню*/
.itemcalm{
  color: white;
  padding: 10px;
  text-decoration: none;
}
.itemover{
  color: #d0abdf;
}
.itemselect{
  box-shadow: inset 0 0 5px rgb(57, 6, 80);
  color: #e6ccf0;
  background: #5d366d;
}
/*Стиль поисковой строки*/
.search * {box-sizing: border-box;}
.search form {
position: relative;
width: 300px;
margin: 0 auto;
}
.search input {
width: 100%;
height: 30px;
padding-left: 10px;
border: 2px solid rgb(179, 136, 207);
border-radius: 5px;
outline: none;
background: rgb(242, 223, 245);
color: rgb(63, 51, 66);
}
.search button {
position: absolute;
top: 0;
right: 0px;
width: 30px;
height: 30px;
border: none;
background: rgb(179, 136, 207);
border-radius: 0 5px 5px 0;
cursor: pointer;
}
.search button:before {
content: "🔎";
font-size: 16px;
color: #F9F0DA;
}
article{
  min-height:100vh;
}
/*Прижимай подвал к полу.*/
footer {
  color: white;
  background: #3c1b49;
  position: absolute;
  width: 100%;
  height: 2.5rem;
}
footer td{
  padding-top:10px;
  padding-left:10px;
}

.treeHTML {
	box-shadow: inset 0 0 6px black;
	padding: 20px;
	background: rgb(135, 63, 153);
	color: white;
	line-height: normal;
	min-width: 300px;
	max-width: 300px;
}
.treeHTML details {
	display: block;
}
.treeHTML div {
	position: relative;
	margin: 0 0 0 0.5em;
	padding: .5em 0 1em 1.2em;
}
.treeHTML p:first-of-type{
	padding:5px;
	margin:0px;
	box-shadow: 0.2em 0.2em 5px rgba(0, 0, 0, 0.5);
	background: rgb(233, 99, 128);
	border-radius: 5px;
}
.treeHTML div p:first-of-type{
	background: rgb(207, 159, 105);
}
.treeHTML div div p:first-of-type{
	background: rgb(129, 207, 105);
}
.treeHTML div div div p:first-of-type{
	background: rgb(105, 124, 207);
}
.treeHTML div:not(:last-child) {
	border-left: 2px solid rgb(206, 158, 235);
}
.treeHTML div:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 1.1em;
	height: 1em;
	border-bottom: 2px solid rgb(206, 158, 235);
}
.treeHTML div:last-child:before {
	border-left: 2px solid rgb(206, 158, 235);
}
summary::-webkit-details-marker {
	display: none;
}
summary {
  display: block;
}
summary::before {
	content: '◆';
	border: 5px;
  }
.treeHTML summary {
	position: absolute;
	top: 5px;
	left: -7px;
	cursor: pointer;
}
.treeHTML details[open] > summary{
	-webkit-transform: rotate(-45deg); /* Chrome y Safari */
	-moz-transform: rotate(-45deg); /* Firefox */
	outline: none;
}
.content {
	width: 1-00px; /* ширина нашего блока, применяется малопонятная фича, лучше не трогать */
	min-height: 100vh; /* высота нашего блока */
	background: #fff; /* цвет фона, белый */
	margin-left: 10px
}
.flex {
	min-height: 100vh;
	display: -webkit-flex;
	display: flex;
	justify-content:flex-start
}
.selnode {
  padding: 100px;
}
