#comments{
	padding-left: 25vw;
	padding-top: 2vw;
	width: 50vw;
}
#comments .username{
	background: black;
	color: white;
}
#comments .datetime{
	margin:10px;
	background: grey;
	color: black;
}
#comments .comment{
	margin:10px;
}
